COUCHBASE_EU_PRODUCTION_API_USERNAME=api
COUCHBASE_EU_PRODUCTION_API_PASSWORD=xxx
COUCHBASE_EU_PRODUCTION_CHANGE_MAKER_USERNAME=api
COUCHBASE_EU_PRODUCTION_CHANGE_MAKER_PASSWORD=xxx

COUCHBASE_ASIA_PRODUCTION_API_USERNAME=api
COUCHBASE_ASIA_PRODUCTION_API_PASSWORD=xxx
COUCHBASE_ASIA_PRODUCTION_CHANGE_MAKER_USERNAME=api
COUCHBASE_ASIA_PRODUCTION_CHANGE_MAKER_PASSWORD=xxx

COUCHBASE_STAGE_API_USERNAME=api
COUCHBASE_STAGE_API_PASSWORD=xxx
COUCHBASE_STAGE_CHANGE_MAKER_USERNAME=api
COUCHBASE_STAGE_CHANGE_MAKER_PASSWORD=xxx

COUCHBASE_DEVELOPMENT_ADMIN_USERNAME=admin
COUCHBASE_DEVELOPMENT_ADMIN_PASSWORD=password!

COUCHBASE_TEST_ADMIN_USERNAME=api
COUCHBASE_TEST_ADMIN_PASSWORD=password!

REDPANDA_PRODUCTION_API_API_KEY=api
REDPANDA_PRODUCTION_API_SECRET=xxx
REDPANDA_PRODUCTION_CHANGE_MAKER_API_KEY=api
REDPANDA_PRODUCTION_CHANGE_MAKER_SECRET=xxx

REDPANDA_STAGE_API_API_KEY=api
REDPANDA_STAGE_API_SECRET=xxx
REDPANDA_STAGE_CHANGE_MAKER_API_KEY=api
REDPANDA_STAGE_CHANGE_MAKER_SECRET=xxx

REDPANDA_DEVELOPMENT_ADMIN_API_KEY=admin
REDPANDA_DEVELOPMENT_ADMIN_SECRET=password!

REDPANDA_TEST_ADMIN_API_KEY=admin
REDPANDA_TEST_ADMIN_SECRET=password!
