# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Secrets
.env
*.pem

# Node modules
/node_modules

# Compiled JavaScript and type declaration files
/dist
/build

# Editor and IDE specific files and folders
/.vscode
.idea
*.swp
*.swo
*.swn

# Operating system specific files
.DS_Store
Thumbs.db
__MACOSX

# Logs and temporary files
*.log*
*.tmp*

# pnp
/.pnp
.pnp.js

# Typescript
*.tsbuildinfo
